*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom, #A9E2F3, #E0F2F7);
    background-attachment: fixed;
}

.header{
    position: fixed;
    z-index: 99;
    background-color: #A9E2F3;
}
#myNav li a{
    color: #fff;
}

#myNav li a:hover{
    color: #17a2b8;
}

#tuyensinh{
    padding-top:  70px;
}

#tiendien{
    padding-top:  40px;
}
.btn-outline-info {

    color: #fff;
    border-color: #fff;
}

.btn-outline-info:hover {
    color: #17a2b8;
    background-color: #fff;
    border-color: #fff;
}

.btn{
    padding:  0.4rem 3rem;
}

.result{
    border-top: 1px solid rgba(0,0,0,.125);
    background-color: rgba(0,0,0,.03);
    width: 100%;
    height: 7rem;
    align-items: center;
}

.result p{
    margin-bottom: 0;
}
.result p:first-child{
    margin-top: 1rem;
}

input{
    border: none;
    border-radius: 3px;
    outline: 0;
}
.card-header{
    font-size: 30px;
    font-weight: 700;
}
.card-body .wrapper{
    border: 1px solid rgb(5, 136, 153);
    box-shadow: 2px 2px 10px rgb(45, 154, 173);
    border-radius: 6px;
    transition: all .8s;
}

.card-body .wrapper:hover,.card-body .wrapper:focus-within{
    border: 1px solid rgb(4, 209, 236);
    box-shadow: 2px 2px 15px rgba(4, 206, 241, 1);
}

.wrapper2 label{
    display: block;
}